<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% article.forEach(function(p){%>
        <p><%=p%></p>
    <%})%>
  </body>
</html>
