<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% catalog.forEach(function(item){ %>
    <p><a href="/book/article?path=<%= encodeURIComponent(item.href) %>"><%= item.name %></a></p>
    <%})%>
  </body>
</html>
