<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% books.forEach(function(book){ %>
    <p><a href="/book?path=<%= encodeURIComponent(book.href) %>"><%= book.name %></a><a target="_blank" href="/book/download?path=<%= encodeURIComponent(book.href) %>&name=<%= book.name %>">下载</a></p>
    <%})%>
  </body>
</html>
